.moving-tiles {
	perspective: 1000px;
}
.moving-tiles .tile {
    padding: 5px;
    height: 205px;
}
.moving-tiles .tile-slide {
    position: relative;
    height: 100%;
}
.moving-tiles .tile-slide.M2-Animating {
    overflow: hidden!important;
}
.moving-tiles .tile-wrapper {
	transform-style: preserve-3d;
	transition: transform 0.8s ease;
    transform-origin: 100% 97.5px;
    height: 100%;
    width: 100%;
}
.moving-tiles .tile-wrapper:not(:only-child){
    position: absolute;
}
.moving-tiles .tile-wrapper:not(:only-child):not(.active) {
    z-index: -100!important;
}
.moving-tiles .tile-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.moving-tiles .tile .frontside, .moving-tiles .tile .backside {
    position: absolute;
    width: 100%;
    height: 100%;
	backface-visibility: hidden;
    padding: 15px;
}
.moving-tiles .tile .frontside {
    transform: rotateX(0deg);
    z-index: 10;
}
.moving-tiles .tile .backside {
    transform: rotateX(-180deg);
    z-index: 9;
}
.moving-tiles .tile:hover > .tile-wrapper, .moving-tiles .tile:hover .tile-slide:not(.M2-Animating) .tile-wrapper {
    transform: rotateX(180deg);
    
}

