.moving-tiles {
	perspective: 1000;
}
.moving-tiles .tile {
    padding: 5px;
    height: 205px;
}
.moving-tiles .tile-slide {
    position: relative;
    height: 100%;
    overflow: hidden;
}
.moving-tiles .tile-wrapper {
	transform-style: preserve-3d;
	transition: transform 0.8s ease;
    transform-origin: 100% 97.5px;
    height: 100%;
    width: 100%;
}
.moving-tiles .tile-wrapper:not(:only-child){
    position: absolute;
}
.moving-tiles .tile-wrapper:not(:only-child):not(.active) {
    top: -205px;
}
.moving-tiles .tile-wrapper img {
    max-width: 100%;
    max-height: 100%;
}
.moving-tiles .tile .frontside, .moving-tiles .tile .backside {
    color: #fff;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
	backface-visibility: hidden;
    padding: 15px;
}
.moving-tiles .tile .frontside {
    transform: rotateX(0deg);
    z-index: 10;
}
.moving-tiles .tile .backside {
    transform: rotateX(-180deg);
    z-index: 9;
}
.moving-tiles .tile:hover .tile-wrapper {
    transform: rotateX(180deg);
    
}

.moving-tiles .red .frontside, .moving-tiles .red .backside {
    background-color: red;
}
.moving-tiles .green .frontside, .moving-tiles .green .backside {
    background-color: green;
}
.moving-tiles .blue .frontside, .moving-tiles .blue .backside {
    background-color: blue;
}
